body {
    background: #EEE;
}

hr {
    margin: 0.1rem 0;
}
.exporter,
.importer {
    display: none;
    width: 75%;
    position: fixed;
    left: 50%;
    margin: 10rem auto;
    margin-left: -37.5%;
    border: 2px solid #000;
    background: #fff;
    left: 50%;
    z-index: 50;
    padding: 1rem;
}

.container {
    width: 112rem;
    margin: 0 auto;
    background: #fff;
}

div.tagsinput { /* Fixes for tagging style UGH */
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    height: 2.4rem;
    padding: 0.6rem 0.5rem;
    font-size: 1.6rem;
    line-height: 1.15;
    margin-top: 0.2rem;
    box-shadow: none;
}
div.tagsinput span.tag {
    background: #ededed;
    border: 0.1rem solid #d1d1d1;
    font-size: 1.8rem;
    padding: 0.1rem 0.3rem;
    color: #606c76;
    margin: 0 0.5rem 0 0;
}
div.tagsinput span.tag a {
    color: #606c76;
}
#language-tags_addTag,
#language-tags_tag,
#resistance-tags_addTag,
#resistance-tags_tag,
#conditions-tags_addTag,
#conditions-tags_tag {
    margin: 0;
    font-size: 1.8rem;
    color: #606c76 !important;
    font-weight: 200;
    padding: 0.1rem 0 0 0 ;
}

.loading-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    opacity: 0.9;
    background: #fff;
    font-size: 15rem;
    text-align: center;
}

.loading-overlay div {
    position: absolute;
    top: 50%;
    margin-top: -15rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.needs-train, .warning {
    color: #f00;
}

input[calctype="subtract"] {
    color: #D15;
    font-style: italic;
}

input[type="submit"] {
    padding: 0rem 1rem;
}

input, h4, select, textarea {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

select {
    padding: 0 0 0 1rem;
}

h4 {
    margin-bottom: 0;
}

label {
    margin-bottom: 0rem;
}

h1 {
    margin-bottom: 0.1rem;
    margin-top: 2.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    color: #4a4a4a;
}

textarea {
    min-height: 10.5rem;
    resize: vertical;
    font-size: smaller;
    line-height: 120%;
}

input[type="text"],
input[type="text"]:focus,
input[type="number"],
input[type="number"]:focus,
input[type="password"],
input[type="password"]:focus,
input[type="url"],
input[type="url"]:focus {
    border-bottom: #222 solid 1px;
    padding: 0.6rem 0.5rem;
}



input:read-only,
select:disabled {
    border-color: #f3f3f3;
    border-bottom: #222 solid 1px;
    background: 0;
}

h1[onclick] {
    cursor: pointer; cursor: hand;
}

#spell-list input[type="checkbox"] {
    margin-top: 1.5rem;
    margin-left: 0.25rem;
}

#gear input[type="text"],
#gear input[type="number"],
#gear input[type="submit"],
#spell-list input[type="text"],
#spell-list input[type="number"],
#spell-list input[type="submit"],
#spell-list select {
    height: 2.5rem;
}

#gear .reveal input[type="number"],
#spell-list .reveal select {
    height: 3.6rem;
}

#gear input[type="checkbox"],
#spell-list input[type="checkbox"] {
    margin-left: 0.25rem;
    margin-top: 0.5rem;
}

#gear input[type="submit"],
#spell-list input[type="submit"] {
    line-height: 100%;
}

.squeeze {
    letter-spacing: -0.15rem;
}

#server-message {
    font-size: 1.2rem;
}

.row.skills {
    border-bottom: 1px solid #DDD;
}
#skills-quick {
    font-size: smaller;
    margin: 0 0.5rem;
}
.quick-look-content {
    margin: 0 0.5rem;
    text-transform: uppercase;
}

.skills input[type="text"],
.skills input[type="number"],
.skills select {
    padding: 0.2rem;
    padding-left: 0.3em;
    height: 2rem;
    /*margin-bottom: 0.5rem;*/
    background: transparent;
}

.skills input[type="checkbox"] {
    margin: 0 0.5rem 0 0.5rem;
}

.skills span {
    padding-top: 0;
    display: inline-block;
}

.skills h4,
.skills p {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.skills:hover,
.highlight:hover {
    background: #ffb;
}

select.compact,
select:focus.compact {
    background: none;
    padding: 0.2rem;
    padding-left: 0.3em;
}

.row-pc {
    background: #dff;
}

.valign {
    vertical-align: bottom;
}

.special-abilities input[type="number"],
.cmd input[type="number"],
input[type="number"].narrow {
    padding-right: 0.2em;
    padding-left: 0.3em;
}

.strong {
    font-weight: 600;
}

.error {
    color: #f00;
}

footer {
    width: 112rem;
    margin: 0 auto;
    font-size: 1.2rem;
    height: 12rem;
}

.toolbar-under {
    height: 7rem;
}

.toolbar {
    z-index: 10;
    border-bottom: 3px #EEE solid;
    width: 100%;
    position: fixed;
    background: #fff;
}

.bottombar {
    z-index: 10;
    border-top: 3px #EEE solid;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
}

.bottombar a.strong { /* Really dumb */
    margin-left: 1rem;
}

#navbar a {
    padding: 0.1rem;
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: -0.075rem;
    cursor: pointer; cursor: hand;
}

#navbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#search-text {
    font-weight: 600;
}

.d20pfsrd {
    margin: 0.2rem auto;
}

.selected-text {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    text-overflow: clip;
    overflow-x: hidden;
    white-space: nowrap;
}

.rolz input {
    width: auto;
    padding: 0.25rem;
    height: 1.8rem;
    margin: 0;
    line-height: normal;
}

.rolz input[type="text"] {
    font-size: 1.2rem;
}

.rolz input[type="submit"] {
    border: 0;
}

#rolz-result {
    display: inline-block;
    font-weight: 600;
    margin: 0;
    width: 3rem;
    text-overflow: clip;
    vertical-align: top;
    overflow-x: hidden;
    text-align: center;
    cursor: pointer; cursor: hand;
}

.calc-result {
    font-weight: 600;
}

.bar-container {
    width: 100%;
    height: 3.8rem;
    border: 0.2rem #000 solid;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5rem;
    font-size: 0;
}

.bar-container .bar {
    height: 3.4rem;
    width: 0;
    display: inline-block;
    border-radius: 0.5rem;
}

.health-bar {
    background: #322;
}

.health-bar .health {
    background: #fd3;
}

.health-bar .ko {
    background: #e93;
}

.experience-bar {
    background: #333;
}

.experience-bar .experience {
    background: #39E;
}

.reveal {
    padding-bottom: 5rem;
}

.more-tools {
    display: none;
}

.retired {
    opacity: 0.5;
}

p {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    font-weight: 500;
    overflow: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    left: -2rem;
    top: 3rem;
    font-size: 1.4rem;
    min-width: 16rem;
    padding: 0.25rem;
    border: #eee solid 0.2rem;
    border-radius: 0.2rem;
}

.dropdown a,
.sidenav a {
    display: block;
    cursor: pointer;
    cursor: hand;
    font-weight: 600;
}

.sidenav,
.quick-look-again {
    display: none;
}

.quick-look {
    display: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .sidenav {
        display: block;
        position: fixed;
        right: 0.2rem;
        top: 7rem;
        background: #fff;
        font-size: 1.2rem;
        width: 2rem;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }
    .sidenav-content {
        margin: 0 0.5rem;
    }
}

@media screen and (min-width: 1320px) {
    .sidenav {
        width: 10rem;
        font-size: 1rem;
    }
    .quick-look {
        display: block;
        position: fixed;
        left: 0.25rem;
        width: 10rem;
        top: 7rem;
        background: #fff;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }

    .quick-look-again {
        display: block;
        position: fixed;
        left: 0.25rem;
        width: 10rem;
        top: 45rem;
        background: #fff;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }

}

@media screen and (min-width: 1380px) {
    .sidenav {
        width: 12rem;
        font-size: 1.2rem;
    }
    .quick-look {
        width: 12rem;
        font-size: 1.1rem;
    }
    .quick-look-again {
        width: 12rem;
        font-size: 1.1rem;
        top: 47rem;
    }

}

@media screen and (min-width: 1560px) {
    .sidenav {
        width: 20rem;
        font-size: 1.6rem;
    }
    .quick-look {
        width: 10rem;
    }
    .quick-look-again {
        left: 10.75rem;
        width: 10rem;
        top: 7rem;
    }
}

@media screen and (min-width: 1680px) {
    .sidenav {
        width: 26rem;
    }
    .quick-look {
        width: 13rem;
        font-size: 1.3rem;
    }
    .quick-look-again {
        left: 13.75rem;
        width: 13rem;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1750px) {
    .sidenav {
        width: 30rem;
        font-size: 1.8rem;
    }
    .quick-look {
        width: 15rem;
        font-size: 1.4rem;
    }
    .quick-look-again {
        width: 15rem;
        left: 15.75rem;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1920px) {
    .sidenav {
        width: 36rem;
        font-size: 1.8rem;
    }.quick-look {
        width: 18rem;
        font-size: 1.5rem;
    }
    .quick-look-again {
        left: 18.75rem;
        width: 18rem;
        font-size: 1.5rem;
    }
}
